@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 40px;
    margin-left: 156px;
    /* background-color:floralwhite; */
    /* background-color: rgba(255, 0, 0, 0.4); */
}

.nav a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    /* color: gray ; */
    font-weight: 700;
    margin-right: 36px;
    padding: 14px;
    border-radius: 14px;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-size: 115%;
background-color: transparent;
opacity: 0.8;
text-shadow: 1px 1px black;
}

.lang-btn {
 width: 70px;
display: flex;
flex-direction: row;
align-items:center;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border: none;
border-radius: 10px;
/* color: floralwhite; */
background-color: transparent;

}

.nav a:hover{
    background-color:burlywood;
    
}

.nav button:hover{

    background: burlywood;
}

.landing {
    border: 1px dotted pink;
    height: 700px;
    width:auto ;
    background-image:url(sea_black_and_white.jpg) ;
background-repeat: no-repeat;
background-size: cover;
  /* ges Hoehe der Seite -> weitere Hoehenangaben werden relativ hierzu ausgewertet */

}

.landing-field{

    /* border: 1px solid red; */
}

.landing-content{
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.discover-all{
    /* word-break: break-all; */
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.discover-text{
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    font-size: 320%;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px #000000;


}

.bangladesh-text{
    font-family: Garamond, serif;
    font-size: 250%;
    margin-left: 120px;
    margin-top: 30px;
    color: floralwhite;
    text-shadow: 2px 2px 4px #000000;
}
.must-text{

    font-size: 180%;
    color: floralwhite;
    font-family:shami;
    text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px pink;
}

.buy-btn{

    padding: 15px 20px;
    border-radius: 25px;
    background-image: linear-gradient(black,gray);
    
    transition: 00.4s ease;
    color: white;
    cursor: pointer;

}

.buy-btn:hover{

background-image: linear-gradient(white,green);
}
.secondsec-parentdiv{
    display: flex;
    flex-direction: row;


}


/* second section */

.about-pic{
    height: 600px;
    width: auto;
    margin-left: 100px;
    margin-top: 20px;


}
.city-pic-img{
    height: 500px;
    width: 500px;

}
#about-us-text-field h1{
    margin-left: 300px;
    /* font-style: italic; */
    font-family: "Trirong", serif;
    font-weight: 500;



}
#about-us-text-field{
    font-size: 150%;
    margin-left: 45px;
}

#tour-guide{
    margin-left: 45px;
    font-size: 120%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-shadow: 0px 2px 2px white; 
    font-style: italic;
    
}

.book-btn{

    padding: 12px 20px;
    background-color:  orangered;
    border-radius: 18px;
    color: whitesmoke;
    cursor: pointer;
}

.book-btn:hover{
    background-image: linear-gradient(80deg,yellow,red);
}

/* first section */



  .third-section{

 height: 600px;
 width: 500px;
  }

/* .secanime {
    background: linear-gradient(-45deg, white, #742342, #042835, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */


